/**
 * Toast notifications
 * https://github.com/ktsn/vuex-toast
 */
.toast-type-info
    background-color $toast-bg-info

.toast-type-success
    background-color $toast-bg-success

.toast-type-warning
    background-color $toast-bg-warning

.toast-type-danger
.toast-type-error
    background-color $toast-bg-danger
