
section#main
    
    margin 0
    padding 0 20px 20px
    
    header:first-child
        margin-top 20px
        margin-bottom 30px
        h1:first-child
            color $color-primary-dark
            font-size 1.6rem
            text-transform uppercase